# Python
flask-backend/venv/
flask-backend/__pycache__/
flask-backend/routes/__pycache__/
flask-backend/ml/__pycache__/
flask-backend/.env

# Node
frontend/node_modules/
frontend/dist/

# Data (don't share user data)
flask-backend/data.json

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/